body{
position: absolute;
top:-10px;
width: 125%;
height:175%;
background-repeat:no-repeat;
background-size: cover;

background-image: url('image7.jpg');
background-size:cover;
   /* animation: animatedBackground 60s linear infinite;*/
    background-repeat: no-repeat round;
    background-repeat:repeat round;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
.head{
	font-family: 'Satisfy'; 
	color: white;
	font-size: 30px;
	position: absolute;
	left: 580px;
}
.list{
	position: absolute;
	top: 80px;
	left:60px;
	font-family:  'Satisfy';
	font-size: 20px;
	color: white;
}
.l1{
	padding: 20px;
}
.l2{
	padding: 20px;
}
.l3{
	padding: 20px;
}
.l4{
	padding: 20px;
}
.l5{
	padding: 20px;
}
.l6{
	padding: 20px;
}
.l7{
	padding: 20px;
}
.soundtrack{
	visibility: hidden;
}
